body {
  background-color: #0d1117;
  color: #fff;
}

.bg-card {
  background-color: #1c1f26; 
  border: none;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bg-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.2);
}


.card-img-top {
  height: 250px;
  object-fit: cover;
  object-position: center;
  border-bottom: 1px solid #333;
}


.card-text {
  max-height: 120px;
  overflow-y: auto;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #888 #1c1f26;
  padding-right: 5px;
}


.card-text::-webkit-scrollbar {
  width: 6px;
}

.card-text::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.card-text::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.card-title {
  font-size: 1.1rem;
  font-weight: bold;
}
